<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <div class="checkbox">
      <label>
        <%= form.check_box attribute_name %> <%= attribute_name %>
      </label>
    </div>
  </div>
</div>
